<h4>Formularios <small>template</small></h4>
<hr>
<form [(formGroup)]="formulario"
      (ngSubmit)="enviarFormulario()"
      novalidate>

  <div>

    <div  [ngClass]="{ 'has-danger': formulario.controls['nombre'].invalid }"
          class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               formControlName="nombre">

        <div  *ngIf="formulario.controls['nombre'].invalid"
              style="color: red">
          El nombre es obligatorio (mín. 6 caracteres)
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellidos"
               name="apellidos"
               formControlName="apellidos">
        <div  *ngIf="formulario.controls['apellidos'].invalid"
              style="color: red">
          El apellido es obligatorio
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             formControlName="email">

      <div  *ngIf="formulario.controls['email'].invalid"
            style="color: red">
        El email es obligatorio y debe ser válido
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-8">

      <input class="form-control"
             type="text"
             placeholder="Contraseña"
             name="pass1"
             formControlName="pass1">
      <div  *ngIf="formulario.controls['pass1'].invalid"
            style="color: red">
        La contraseña es obligatoria
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repita contraseña</label>
    <div class="col-8">

      <input class="form-control"
             type="text"
             placeholder="Repite la contraseña"
             name="pass2"
             formControlName="pass2">
      <div  *ngIf="formulario.controls['pass2'].invalid"
            style="color: red">
        La contraseña no es igual a la indicada anteriormente
      </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<h2>{{ formulario.valid }}</h2>
